<mat-toolbar color="primary">
  <span *ngIf="!userIsAuthenticated">
    <a routerLink="/">Health Care</a>
  </span>
  <span *ngIf="!userIsAuthenticated" class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/DataEntryForm" routerLinkActive="mat-accent">DATA ENTRY FORM</a>
    </li>
    <li *ngIf="userIsAuthenticated && isAdmin">
      <a mat-button routerLink="/Requisition" routerLinkActive="mat-accent">REQUISITION</a>
    </li>
    <li *ngIf="userIsAuthenticated && isAdmin"><button [disabled]="isLoading" mat-button
        [matMenuTriggerFor]=" menu">PRINT</button>
      <mat-menu #menu="matMenu">
        <button routerLink="/Print" mat-menu-item>LABELS</button>
        <button (click)="multiplePdf()" mat-menu-item>PRINT 10 REQUISITION</button>
      </mat-menu>
    </li>
    <li *ngIf="userIsAuthenticated && isAdmin">
      <a mat-button routerLink="/UserManagement" routerLinkActive="mat-accent">USER</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">
        LOGOUT
        <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
      </button>
    </li>
  </ul>
</mat-toolbar>