<div class="py-2 px5">
    <mat-card class="d-flex w-75 mx-auto align-items-baseline">
        <div class="col-3 d-flex justify-content-center">
            <button mat-raised-button (click)='onCreate()'>
                <mat-icon>add</mat-icon>Create
            </button>
        </div>
        <div class="col d-flex justify-content-center">
            <mat-form-field class="w-75" floatLabel="never">
                <input matInput placeholder="Search" [(ngModel)]="userPagination.search"
                    (ngModelChange)="this.searchListener.next($event)" autocomplete=" off">
                <button mat-button matSuffix mat-icon-button aria-label=" Clear">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </mat-card>
    <div *ngIf="!(userlist.length==0)" class="w-75 mx-auto ">
        <mat-card class="my-2">
            <table mat-table [dataSource]="userlist" class="">
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> UserName </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef> Active </th>
                    <td mat-cell *matCellDef="let element"> {{element.active?"Active": "InActive"}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="group">
                    <th mat-header-cell *matHeaderCellDef> Group </th>
                    <td mat-cell *matCellDef="let element">
                        {{ getRole(element.role) }}
                    </td>
                </ng-container>


                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row" class="text-center">
                        <button mat-icon-button (click)="onUpdate(row)">
                            <mat-icon>launch</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="onDelete(row.username)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayColums"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColums;"></tr>
            </table>
            <mat-paginator class="px-5" [length]="userPagination.length" [pageSize]="userPagination.pagesize"
                [pageSizeOptions]="[5,10,25,50]" (page)="onChangedPage($event)">
            </mat-paginator>
        </mat-card>
    </div>

</div>