.f16{
    font-size: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.phn{
  display: flex;
  /* transform: rotate(-90deg); */
}

.barcode-container{
  width:335px;
  height: 140px;
  /* float: right; */
}

.barcode-row{
  padding: 10px;
}

.barcode{
  width: 100%;
  height: 120px;
}

.sec-left{
  padding: 0px 10px 0px 10px ;
  outline: 1px dashed lightslategray;
  outline-offset: 0px;
  /* background-color: aqua; */
}

.sec-right{
  padding: unset;
}

.sec-2{
  height: 60px;
  font-family: vcr_osd_monoregular;
  font-size: 11px;
  outline: 1px dashed lightslategray;
  outline-offset: 0px;
  padding-left: 5px;
  /* background-color: green; */
}

@font-face {
  font-family: vcr_osd_monoregular;
  src: url(/assets/fonts/VCR_OSD_MONO.ttf);
}

.sec-3{
  font-family: vcr_osd_monoregular;
  height: 60px;
  font-size: 11px;
  outline: 1px dashed lightslategray;
  outline-offset: 0px;
  padding-left: 5px;
  /* background-color: yellow; */
}

.font-div{
  height: 12px
}

.font-div_lg{
  font-family: vcr_osd_monoregular;
  font-size: 16px;
  height: 12px;
}

.phn_sex_date{
  font-size: 12px;
}

.accession{
  font-size: 12px;
}

.name{
  font-size: 16px;
}

.collection_date_time{
  font-size: 10px;
}

.barcode-svg{
  position: absolute;
  left: 0;
  padding: unset;
}

.tests{
  font-family: vcr_osd_monoregular;
  font-size: 10px;
  height: 12px;
  margin-top: 40px;
}

:host >>> .mat-figure{
  align-items: flex-start !important;
}

:host >>> .page .mat-figure{
  justify-content: flex-start !important;
  display: block !important;
  text-align: left !important;
}



.mat-card { 
  height: auto;
  margin: 5vh 0px !important;
}

.mat-grid-list {
  background-color: #e7e7e7;
}

.requisitionCard {
  height: 500px !important;
  overflow: hidden;
  overflow-y: scroll;
  font-size: 18px;
  font-weight: 500;
}

.barcodeCard {
  margin-right: 100px !important;
  margin-left: 20px !important;

}

/* .requisitionField .multiselect-dropdown .dropdown-btn { */
  /* margin-right: 8px !important; */
/* } */

.mainContainer {
  /* display: flex;
  justify-content: center; */
}

.phnTransform {
  writing-mode: tb-rl;
  transform: rotate(180deg) translate(20%,80%);
  transform-origin: bottom;
  font-family: vcr_osd_monoregular;
  font-size: 16px;
  font-weight: 300;
}

.main {
  /* width: 60%; */
    display: flex;
    flex-direction: column;
}

.label {
    /* display: flex;
    flex-direction: row; */
}

.requisition {
  display: flex;
  /* width: 60%; */
  flex-direction: column;
    /* position: absolute; */
}

.page {
  float: left;
  width:595px;
  /* height:842px; */
}

.list{
  display: flex;
  flex-direction: column;
  width: 40%;
  float: left;
}

:host /deep/ .data .mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
}

.button {
  margin: 10px;
}

.optionsList {
  display: flex;
  flex-direction: row;
}

.options {
  font-size: 18px;
  font-weight: 500;
  margin: 5px;
}
