<mat-grid-list cols="1">
    <mat-grid-tile colspan=1 rowspan=2>
        <mat-card class="mx-auto w-50">
            <mat-card-title class="d-flex my-3 py-2 align-items-center">
                <div class="col mat-button-toggle">Requisitions</div>
            </mat-card-title>
            <div class='list requisitionCard'>
                <mat-checkbox *ngFor="let item of requisitionList" ngModel (change)="onSelect($event)"
                    value={{item._id}}>{{item.phn}}- {{item.lastName}} {{item.firstName}}</mat-checkbox>
            </div>
            <div class="button">
                <button
                    [disabled]="!(selectItem.length>0 && (selectedPrintOptions.Barcode || selectedPrintOptions.Requisition || selectedPrintOptions.Label))"
                    (click)="pdf()" matTooltip="Select Requisition To Print"
                    aria-label="Button that displays a tooltip when focused or hovered over" mat-raised-button
                    color="primary" type="button">Print</button>
            </div>
            <div class='list optionsList'>
                <mat-checkbox class='options' *ngFor="let item of printingOptions" ngModel
                    (change)="onSelectOptions($event)" value={{item.id}}>{{item.value}}</mat-checkbox>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<div id="page" class="page">
    <mat-grid-list class='data-requisition' cols="2" *ngFor="let requisitionId of selectItem" rowHeight="160px">
        <mat-grid-tile colspan="1" rowspan="2" *ngIf="selectedPrintOptions.Requisition">
            PHN: {{requisitionObj[requisitionId].phn}}<br />
            Accession: {{requisitionObj[requisitionId].accession}}<br />
            First Name: {{requisitionObj[requisitionId].lastName}}<br />
            Last Name: {{requisitionObj[requisitionId].firstName}}<br />
            Sex: {{requisitionObj[requisitionId].sex}}<br />
            Date Of Birth: {{requisitionObj[requisitionId].dob}}<br />
            Postal Code: {{requisitionObj[requisitionId].postalCode}}<br />
            Physician: {{requisitionObj[requisitionId].physician}}<br />
            Physician Code: {{requisitionObj[requisitionId].physicianCode}}<br />
            Collection Date: {{requisitionObj[requisitionId].collectionDate}}<br />
            Collection Location: {{requisitionObj[requisitionId].collectionLocation}}<br />
            To Collect: {{requisitionObj[requisitionId].toCollect}}<br />
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" class='data-barcode' *ngFor="let requisitionId of selectItem" rowHeight="160px">
        <mat-grid-tile *ngFor="let label of labelsObject[requisitionObj[requisitionId]._id]" colspan="2" rowSpan="1"
            [ngClass]="{'d-none':!selectedPrintOptions.Barcode}">
            <div class="mainContainer col pt-2">
                <div class="barcode-container">
                    <div class="row barcode-row">
                        <div class="col-8 sec-left px-0">
                            <div class="barcode d-flex">
                                <div class="col-1">
                                    <div class="phnTransform ">
                                        {{requisitionObj[requisitionId].phn}}
                                    </div>
                                </div>
                                <div class="col px-2">
                                    <div class="font-div_lg name">
                                        {{requisitionObj[requisitionId].lastName}}
                                        {{requisitionObj[requisitionId].firstName}}
                                    </div>
                                    <div class="font-div_lg phn_sex_date">
                                        {{requisitionObj[requisitionId].phn}}
                                        {{requisitionObj[requisitionId].sex}}
                                        {{requisitionObj[requisitionId].dob}}
                                    </div>
                                    <div class="font-div_lg accession">
                                        {{requisitionObj[requisitionId].collectionLocation}}</div>
                                    <div class="font-div_lg collection_date_time">
                                        {{requisitionObj[requisitionId].collectionDate}}
                                        {{requisitionObj[requisitionId].collectionTime}}</div>
                                    <div>
                                        <svg class="col-10 barcode-svg"
                                            id="x{{requisitionObj[requisitionId]._id}}"></svg>
                                    </div>
                                    <div class="font-div_lg tests">
                                        <span *ngFor="let label of labelsObject[requisitionObj[requisitionId]._id]">
                                            {{label.code}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 sec-right">
                            <div class="col-12 sec-2">
                                <div class="font-div">{{requisitionObj[requisitionId].phn}}</div>
                                <div class="font-div">{{requisitionObj[requisitionId].lastName}}
                                    {{requisitionObj[requisitionId].firstName}}</div>
                                <div class="font-div">{{requisitionObj[requisitionId].sex}}</div>
                            </div>
                            <div class="col-12 sec-3">
                                <div class="font-div">{{requisitionObj[requisitionId].phn}}</div>
                                <div class="font-div">{{requisitionObj[requisitionId].lastName}}
                                    {{requisitionObj[requisitionId].firstName}}</div>
                                <div class="font-div">{{requisitionObj[requisitionId].sex}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <ng-container *ngIf="selectedPrintOptions.Label">
        <mat-grid-list class='data-label' cols="2" *ngFor="let requisitionId of selectItem" rowHeight="160px">
            <mat-grid-tile colspan="2" rowspan="1"
                *ngFor="let label of labelsObject[requisitionObj[requisitionId]._id]">
                <div>
                    Accession No: {{requisitionObj[requisitionId].accession}}<br />
                    Name: {{label.name}}<br />
                    PHN/personal health care: {{requisitionObj[requisitionId].phn}}<br />
                    Collection Date: _________________<br />
                    Collection Time: _________________<br />
                    Fasting Time: _____________________<br />
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </ng-container>
</div>