<mat-grid-list cols="5" class="h-100">
    <mat-grid-tile colspan=3 rowspan=2>
        <mat-card class="requisitionCard mx-auto w-100">
            <mat-card-title class="d-flex my-3 py-2 align-items-center">
                <div class="col mat-button-toggle">Requisition</div>
            </mat-card-title>
            <form #requisitionForm="ngForm" id="requisitionForm" (submit)="onSubmit(requisitionForm)">
                <mat-card-content class="d-flex">
                    <div class="col">
                        <div class="d-flex">
                            <mat-form-field class="col pl-0">
                                <mat-label>Select Requesition</mat-label>
                                <mat-select [formControl]="requisitionCtrl"
                                    (selectionChange)="onRequisitionSelect($event.value)">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="requisitionFilterCtrl">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let req of filteredRequestions | async" [value]="req">
                                        {{req.phnAndLastName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col pl-0">
                                <input disabled type="number" name="accession" ngModel
                                    [(ngModel)]="initialState.accession" matInput placeholder="Accession No.">
                            </mat-form-field>
                        </div>
                        <div class="d-flex">
                            <mat-form-field class="col px-0">
                                <input type="number" required name="phn" ngModel [(ngModel)]="initialState.phn" matInput
                                    placeholder="PHN / Health Care Number">
                                <mat-error>Please enter a PHN / Health Care Number.</mat-error>
                            </mat-form-field>
                            <div class="col">
                                <div>
                                    <mat-form-field class="col pl-0">
                                        <mat-label>Select Tests</mat-label>
                                        <mat-select name="tests" [formControl]="testMultiCtrl"
                                            placeholder="Search Tests" [multiple]="true" #multiSelect>
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="testMultiFilterCtrl"
                                                    [showToggleAllCheckbox]="true"
                                                    (toggleAll)="toggleSelectAll($event)">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let test of filteredTestsMulti | async" [value]="test">
                                                {{test.codeAndName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <mat-form-field class="col pl-0">
                                <input type="text" name="lastName" ngModel [(ngModel)]="initialState.lastName" matInput
                                    placeholder="Last Name" required text />
                                <mat-error>Please enter Last Name</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col pl-0">
                                <input type="text" name="firstName" ngModel matInput placeholder="First Name"
                                    [(ngModel)]="initialState.firstName" required text />
                                <mat-error>Please enter First Name</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="d-flex">
                            <div class="col font-weight-light d-flex align-items-center px-0">
                                <mat-label class="mr-2 pb-2 f16">Sex</mat-label>
                                <mat-radio-group required aria-label="sex" name="sex" ngModel
                                    [(ngModel)]="initialState.sex" labelPosition="after">
                                    <mat-radio-button class="mx-2" value="M">M</mat-radio-button>
                                    <mat-radio-button claas="mx-2" value="F">F</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col px-0">
                                <mat-form-field class="col pl-0">
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput name='dob' required [(ngModel)]="initialState.dob"
                                        [matDatepicker]="dob">
                                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                                    <mat-datepicker #dob></mat-datepicker>
                                    <mat-error>Plaese select date of birth</mat-error>
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="d-flex">
                            <div class="col font-weight-light d-flex align-items-center pl-0">
                                <mat-label class="mr-2 pb-2 f16">To Collect</mat-label>
                                <mat-radio-group aria-label="collect" name="collect" ngModel
                                    [(ngModel)]="initialState.collect" labelPosition="after">
                                    <mat-radio-button class="mx-2" value="Y">Yes</mat-radio-button>
                                    <mat-radio-button claas="mx-2" value="N">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <mat-form-field class="col pl-0">
                                <input type="text" name="postalCode" ngModel matInput placeholder="Postal Code"
                                    [(ngModel)]="initialState.postalCode" required text />
                                <mat-error>Please enter Postal Code</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="d-flex">
                            <mat-form-field class="col pl-0">
                                <input type="text" name="physician" ngModel matInput placeholder="Ordering Physician"
                                    [(ngModel)]="initialState.physician" required text />
                                <mat-error>Please enter Ordering Physician</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col pl-0">
                                <input type="text" name="physicianCode" ngModel matInput placeholder="Physician Code"
                                    [(ngModel)]="initialState.physicianCode" required text />
                                <mat-error>Please enter Physician Code</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="d-flex">
                            <div class="col pl-0">
                                <mat-form-field class="col pl-0">
                                    <mat-label>Collection Date</mat-label>
                                    <input matInput name="collectionDate" [(ngModel)]="initialState.collectionDate"
                                        [matDatepicker]="collectionDate">
                                    <mat-datepicker-toggle matSuffix [for]="collectionDate"></mat-datepicker-toggle>
                                    <mat-datepicker #collectionDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col pl-0">
                                <mat-form-field class="col pl-0">
                                    <input type="number" name="collectionTime" ngModel matInput
                                        placeholder="Collection Time (hhmm)" [(ngModel)]="initialState.collectionTime"
                                        text />
                                    <!-- <mat-error *ngIf="physicianCode.invalid">Collection Time</mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="col pl-0">
                                <mat-form-field class="col pl-0">
                                    <input name="collectionLocation" ngModel matInput placeholder="Collection Location"
                                        [(ngModel)]="initialState.collectionLocation" text />
                                    <!-- <mat-error *ngIf="physicianCode.invalid">Collection Time</mat-error> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="d-flex py-1">
                            <div class="col d-flex align-items-center pl-0">
                                <mat-label class="col-6 p-0 f16">Hide From Student</mat-label>
                                <mat-slide-toggle type="checkbox" [(ngModel)]="initialState.hidden" color="primary"
                                    name="hidden" class="col"></mat-slide-toggle>
                            </div>
                            <div class="col pl-0 d-flex align-items-center">
                                <mat-label class="col-3 p-0 f16">Mode</mat-label>
                                <div class="col">
                                    <mat-button-toggle-group type="radio" [(ngModel)]="initialState.mode" name="mode"
                                        aria-label="Font Style" value="in">
                                        <mat-button-toggle value="practice">Practice
                                        </mat-button-toggle>
                                        <mat-button-toggle value="test">Test</mat-button-toggle>
                                    </mat-button-toggle-group>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="col">
                                <div class="d-flex my-3 float-right w-50">
                                    <div class="col">
                                        <a class='donwload' target="_blank" download>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <button *ngIf="requisition && requisition.phn" (click)="generatePdf()" class=""
                                            mat-raised-button color="primary" type="button">pdf</button>
                                    </div>
                                    <div class="col">
                                        <button class="" mat-raised-button color="primary" type="submit">Save</button>
                                    </div>
                                    <div class="col">
                                        <button *ngIf="requisition && requisition.phn" (click)="deleteRequisition()"
                                            class="" mat-raised-button color="primary" type="button">Delete</button>
                                    </div>
                                    <div class="col">
                                        <button (click)="onRequisitionDeselect()" class="" mat-raised-button
                                            color="primary" type="button">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </form>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan=2 rowspan=2>
        <mat-card class="barcodeCard mx-auto w-100">
            <div class="d-flex">
                <div class="mainContainer col pt-2">
                    <div class="barcode-container">
                        <div class="row barcode-row" [ngClass]="{'d-none':!showBarCode}">
                            <div class="col-8 sec-left px-0">
                                <div class="barcode d-flex">
                                    <div class="col-1">
                                        <div class="phnTransform ">
                                            {{requisitionCtrl.value && requisitionCtrl.value.accession}}
                                        </div>
                                    </div>
                                    <div class="col px-2">
                                        <div class="font-div_lg name">
                                            {{requisitionCtrl.value && requisitionCtrl.value.lastName}}
                                            {{requisitionCtrl.value && requisitionCtrl.value.firstName}}
                                        </div>
                                        <div class="font-div_lg phn_sex_date">
                                            {{requisitionCtrl.value && requisitionCtrl.value.phn}}
                                            {{requisitionCtrl.value && requisitionCtrl.value.sex}}
                                            {{requisition && requisition.dob}}
                                        </div>
                                        <div class="font-div_lg accession">
                                            {{requisitionCtrl.value && requisitionCtrl.value.collectionLocation}}</div>
                                        <div class="font-div_lg collection_date_time">
                                            {{requisition && requisition.collectionDate}}
                                            {{requisitionCtrl.value && requisitionCtrl.value.collectionTime}}</div>
                                        <div>
                                            <svg class="col-10 barcode-svg" id="code128"></svg>
                                        </div>
                                        <div class="font-div_lg tests"
                                            *ngIf="testMultiCtrl.value && testMultiCtrl.value">
                                            <span *ngFor="let test of testMultiCtrl.value; let i = index"
                                                [attr.data-index]="i">
                                                {{test.code}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 sec-right">
                                <div class="col-12 sec-2">
                                    <div class="font-div">{{requisitionCtrl.value && requisitionCtrl.value.phn}}</div>
                                    <div class="font-div">{{requisitionCtrl.value && requisitionCtrl.value.lastName}}
                                        {{requisitionCtrl.value && requisitionCtrl.value.firstName}}</div>
                                    <div class="font-div">{{requisitionCtrl.value && requisitionCtrl.value.sex}}</div>
                                </div>
                                <div class="col-12 sec-3">
                                    <div class="font-div">{{requisitionCtrl.value && requisitionCtrl.value.phn}}</div>
                                    <div class="font-div">{{requisitionCtrl.value && requisitionCtrl.value.lastName}}
                                        {{requisitionCtrl.value && requisitionCtrl.value.firstName}}</div>
                                    <div class="font-div">{{requisitionCtrl.value && requisitionCtrl.value.sex}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>