.f16{
    font-size: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.phn{
  display: flex;
  /* transform: rotate(-90deg); */
}

.barcode-container{
  width:335px;
  margin: 30px 0px 30px 0px;
  height: 140px;
}

.barcode-row{
  padding: 10px;
}

.barcode{
  width: 100%;
  height: 120px;
}

.sec-left{
  padding: 0px 10px 0px 10px ;
  outline: 1px dashed lightslategray;
  outline-offset: 0px;
  /* background-color: aqua; */
}

.sec-right{
  padding: unset;
}

.sec-2{
  height: 60px;
  font-family: vcr_osd_monoregular;
  font-size: 11px;
  outline: 1px dashed lightslategray;
  outline-offset: 0px;
  padding-left: 5px;
  /* background-color: green; */
}

@font-face {
  font-family: vcr_osd_monoregular;
  src: url(/assets/fonts/VCR_OSD_MONO.ttf);
}

.sec-3{
  font-family: vcr_osd_monoregular;
  height: 60px;
  font-size: 11px;
  outline: 1px dashed lightslategray;
  outline-offset: 0px;
  padding-left: 5px;
  /* background-color: yellow; */
}

.font-div{
  height: 12px
}

.font-div_lg{
  font-family: vcr_osd_monoregular;
  font-size: 16px;
  height: 12px;
}

.phn_sex_date{
  font-size: 12px;
}

.accession{
  font-size: 12px;
}

.name{
  font-size: 16px;
}

.collection_date_time{
  font-size: 10px;
}

.barcode-svg{
  position: absolute;
  left: 0;
  padding: unset;
}

.tests{
  font-family: vcr_osd_monoregular;
  font-size: 10px;
  height: 12px;
  margin-top: 40px;
}

:host >>> .mat-figure{
  align-items: flex-start !important;
}


.mat-card { 
  height: auto;
  margin: 5vh 0px !important;
}

.mat-grid-list {
  background-color: #e7e7e7;
}

.requisitionCard {
  margin-right: 20px !important;
  margin-left: 100px !important;

}

.barcodeCard {
  margin-right: 100px !important;
  margin-left: 20px !important;

}

/* .requisitionField .multiselect-dropdown .dropdown-btn { */
  /* margin-right: 8px !important; */
/* } */

.mainContainer {
  display: flex;
  justify-content: center;
}

.phnTransform {
  writing-mode: tb-rl;
  transform: rotate(180deg) translate(20%,80%);
  transform-origin: bottom;
  font-family: vcr_osd_monoregular;
  font-size: 16px;
  font-weight: 300;
}

