/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: auto; }
.mat-button-toggle-label-content {
    line-height: 32px !important; 
  }
main{
  height: 100%;
}
.w-80{
  width: 80%;
}

.mat-card {
  background-color: #ffffff !important;
  box-shadow: 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.11), 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.13) !important;
}

.multiselect-dropdown .dropdown-btn {
  border: unset !important;
  border-bottom: 1px solid #adadad !important;
  padding: 9px 5px !important;

}

body::-webkit-scrollbar {
  display: none;              /* width of the entire scrollbar */
}
::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  background-color: #6c757d;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}