<mat-grid-list cols="4">
    <mat-grid-tile colspan=1 rowspan=2>
        <mat-card class="practiceList mx-auto w-100 d-flex flex-column">
            <mat-card-title class="col-1 d-flex align-items-center">
                <div *ngIf="mode == 'practice' ; else test" class="col mat-button-toggle">Patient List (Practice)</div>
                <ng-template #test>
                    <div class="col mat-button-toggle">Patient List (Test)</div>
                </ng-template>
            </mat-card-title>
            <mat-card-title class="col p-0">
                <mat-selection-list class="practiceRequisitionList" *ngIf="mode == 'practice' ; else testList"
                    [multiple]="false">
                    <mat-list-option class="practiceRequisitionListItem" (click)="initializeForm(practiceRequisition)"
                        *ngFor="let practiceRequisition of practiceRequisitionList; let i = index"
                        [attr.data-index]="i">
                        <div class="d-flex align-item-center p-0">
                            <mat-checkbox class="options" value={{practiceRequisitionList[i].accession}}
                                (change)="onListSelect($event)">
                            </mat-checkbox>
                            <span class="pt-1">
                                {{'#'}}{{ i + 1 }}.
                                &nbsp;{{practiceRequisitionList[i].phn}}&nbsp;&nbsp;{{practiceRequisitionList[i].firstName}}&nbsp;{{practiceRequisitionList[i].lastName}}
                            </span>
                        </div>
                    </mat-list-option>
                </mat-selection-list>
                <ng-template #testList>
                    <mat-selection-list class="practiceRequisitionList" [multiple]="false">
                        <mat-list-option class="testRequisitionListItem" (click)="initializeForm(practiceRequisition)"
                            *ngFor="let practiceRequisition of testRequisitionList; let i = index"
                            [attr.data-index]="i">
                            <div class="d-flex align-item-center p-0">
                                <mat-checkbox class="options" value={{testRequisitionList[i].accession}}
                                    (change)="onListSelect($event)">
                                </mat-checkbox>
                                <span class="pt-1">
                                    {{'#'}}{{ i + 1 }}.
                                    &nbsp;{{testRequisitionList[i].phn}}&nbsp;&nbsp;{{testRequisitionList[i].firstName}}&nbsp;{{testRequisitionList[i].lastName}}
                                </span>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>
                </ng-template>

            </mat-card-title>
            <mat-card-title class="col-1 d-flex flex-column">
                <mat-checkbox class="options" [(ngModel)]="printOption.requisition" (change)="onSelectOptions($event)"
                    [ngModelOptions]="{standalone: true}" value="requisition">Patient Record</mat-checkbox>
                <mat-checkbox class="options" [(ngModel)]="printOption.barcode" (change)="onSelectOptions($event)"
                    [ngModelOptions]="{standalone: true}" value="barcode">Barcode Label</mat-checkbox>
                <mat-checkbox class="options" [(ngModel)]="printOption.label" (change)="onSelectOptions($event)"
                    [ngModelOptions]="{standalone: true}" value="label">Collection List</mat-checkbox>
                <button color="primary" type="button" (click)="onPrint()" mat-raised-button>Print</button>
            </mat-card-title>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan=3 rowspan=2>
        <mat-card class="formCard mx-auto w-100">
            <mat-card-title class="d-flex mb-3 align-items-center">
                <div class="col mat-button-toggle">Order Entry</div>
                <div class="col text-right">
                    <button (click)="generateRandomRequisition()" mat-button color="primary" class="h5">Get
                        Requsition</button>
                </div>

                <mat-button-toggle-group class="mat-simple-snackbar" name="mode" aria-label="Font Style"
                    value="practice">
                    <mat-button-toggle (change)="updateMode($event.value);requisitionForm.reset()" value="practice">
                        Practice
                    </mat-button-toggle>
                    <mat-button-toggle (change)="updateMode($event.value);requisitionForm.reset()" value="test">Test
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </mat-card-title>
            <form #requisitionForm="ngForm" id="requisitionForm" (submit)="saveToList(requisitionForm)">
                <mat-card-content class="d-flex my-5">
                    <div class="col">
                        <div class="d-flex">
                            <mat-form-field class="col-6 pl-0">
                                <input type="number" name="accession" ngModel [(ngModel)]="initialState.accession"
                                    matInput placeholder="Accession No." [disabled]="!(mode == 'test')" required>
                                <mat-error>Please enter Accession Number.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="d-flex">
                            <mat-form-field class="col px-0">
                                <input type="number" [disabled]="!(initialState.accession)" name="phn" ngModel
                                    [(ngModel)]="initialState.phn" matInput placeholder="PHN / Health Care Number"
                                    required>
                                <mat-error>Please enter a PHN / Health Care Number.</mat-error>
                                <mat-icon matSuffix>
                                    <div class="center">
                                        <label class="label">
                                            <input class="label__checkbox" [disabled]="!(initialState.accession)"
                                                type="checkbox" disabled [checked]="toShow" />
                                            <span class="label__text">
                                                <span *ngIf="isCorrect('phn'); else cross"
                                                    class="label__check textField">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                        viewBox="0 0 24 24" width="24">
                                                        <path d="M0 0h24v24H0z" fill="none" />
                                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                                    </svg>
                                                </span>
                                                <ng-template #cross>
                                                    <span class="label__cross textField">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path
                                                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                                        </svg>
                                                    </span>
                                                </ng-template>
                                            </span>
                                        </label>
                                    </div>
                                </mat-icon>
                            </mat-form-field>
                            <div class="col">
                                <div>
                                    <mat-form-field class="col pl-0">
                                        <mat-label>Select Tests</mat-label>
                                        <mat-select name="tests" [formControl]="testMultiCtrl"
                                            placeholder="Search Tests" [multiple]="true" #multiSelect>
                                            <mat-option>
                                                <ngx-mat-select-search [formControl]="testMultiFilterCtrl"
                                                    [showToggleAllCheckbox]="true"
                                                    (toggleAll)="toggleSelectAll($event)">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let test of filteredTestsMulti | async" [value]="test">
                                                {{test.codeAndName}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>
                                            <div class="center">
                                                <label class="label">
                                                    <input class="label__checkbox"
                                                        [disabled]="!(initialState.accession)" type="checkbox" disabled
                                                        [checked]="toShow" />
                                                    <span class="label__text">
                                                        <span *ngIf="isCorrect('tests'); else cross"
                                                            class="label__check textField">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                                viewBox="0 0 24 24" width="24">
                                                                <path d="M0 0h24v24H0z" fill="none" />
                                                                <path
                                                                    d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                                            </svg>
                                                        </span>
                                                        <ng-template #cross>
                                                            <span class="label__cross textField">
                                                                <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                                    viewBox="0 0 24 24" width="24">
                                                                    <path d="M0 0h24v24H0z" fill="none" />
                                                                    <path
                                                                        d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                                                </svg>
                                                            </span>
                                                        </ng-template>
                                                    </span>
                                                </label>
                                            </div>
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <mat-form-field class="col pl-0">
                                <input type="text" name="lastName" ngModel [disabled]="!(initialState.accession)"
                                    [(ngModel)]="initialState.lastName" matInput placeholder="Last Name" required
                                    text />
                                <mat-error>Please enter Last Name</mat-error>
                                <mat-icon matSuffix>
                                    <div class="center">
                                        <label class="label">
                                            <input class="label__checkbox" [disabled]="!(initialState.accession)"
                                                type="checkbox" disabled [checked]="toShow" />
                                            <span class="label__text">
                                                <span *ngIf="isCorrect('lastName'); else cross"
                                                    class="label__check textField">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                        viewBox="0 0 24 24" width="24">
                                                        <path d="M0 0h24v24H0z" fill="none" />
                                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                                    </svg>
                                                </span>
                                                <ng-template #cross>
                                                    <span class="label__cross textField">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path
                                                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                                        </svg>
                                                    </span>
                                                </ng-template>
                                            </span>
                                        </label>
                                    </div>
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field class="col pl-0">
                                <input type="text" name="firstName" [disabled]="!(initialState.accession)" ngModel
                                    matInput placeholder="First Name" [(ngModel)]="initialState.firstName" required
                                    text />
                                <mat-error>Please enter First Name</mat-error>
                                <mat-icon matSuffix>
                                    <div class="center">
                                        <label class="label">
                                            <input class="label__checkbox" [disabled]="!(initialState.accession)"
                                                type="checkbox" disabled [checked]="toShow" />
                                            <span class="label__text">
                                                <span *ngIf="isCorrect('firstName'); else cross"
                                                    class="label__check textField">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                        viewBox="0 0 24 24" width="24">
                                                        <path d="M0 0h24v24H0z" fill="none" />
                                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                                    </svg>
                                                </span>
                                                <ng-template #cross>
                                                    <span class="label__cross textField">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path
                                                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                                        </svg>
                                                    </span>
                                                </ng-template>
                                            </span>
                                        </label>
                                    </div>
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="d-flex">
                            <div class="col px-0">
                                <mat-label class="mr-2 pb-2 f16">Sex</mat-label>
                                <mat-radio-group [disabled]="!(initialState.accession)" aria-label="sex" name="sex"
                                    ngModel [(ngModel)]="initialState.sex" labelPosition="after">
                                    <mat-radio-button class="mx-2" value="M">M</mat-radio-button>
                                    <mat-radio-button claas="mx-2" value="F">F</mat-radio-button>
                                </mat-radio-group>
                                <mat-icon matSuffix>
                                    <div class="center">
                                        <label class="label">
                                            <input class="label__checkbox" [disabled]="!(initialState.accession)"
                                                type="checkbox" disabled [checked]="toShow" />
                                            <span class="label__text">
                                                <span *ngIf="isCorrect('sex'); else cross" class="label__check">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                        viewBox="0 0 24 24" width="24">
                                                        <path d="M0 0h24v24H0z" fill="none" />
                                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                                    </svg>
                                                </span>
                                                <ng-template #cross>
                                                    <span class="label__cross">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path
                                                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                                        </svg>
                                                    </span>
                                                </ng-template>
                                            </span>
                                        </label>
                                    </div>
                                </mat-icon>
                            </div>
                            <div class="col px-0">
                                <mat-form-field class="col pl-0">
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput name='dob' [disabled]="!(initialState.accession)"
                                        [(ngModel)]="initialState.dob" [matDatepicker]="dob">
                                    <mat-icon matSuffix>
                                        <div class="center">
                                            <label class="label">
                                                <input class="label__checkbox" [disabled]="!(initialState.accession)"
                                                    type="checkbox" disabled [checked]="toShow" />
                                                <span class="label__text">
                                                    <span *ngIf="isCorrect('dob'); else cross"
                                                        class="label__check textField">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path
                                                                d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                                        </svg>
                                                    </span>
                                                    <ng-template #cross>
                                                        <span class="label__cross textField">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                                viewBox="0 0 24 24" width="24">
                                                                <path d="M0 0h24v24H0z" fill="none" />
                                                                <path
                                                                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                                            </svg>
                                                        </span>
                                                    </ng-template>
                                                </span>
                                            </label>
                                        </div>
                                    </mat-icon>
                                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                                    <mat-datepicker #dob></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="d-flex">
                            <div class="col font-weight-light d-flex align-items-center px-0">
                                <mat-label class="mr-2 pb-2 f16">To Collect</mat-label>
                                <mat-radio-group [disabled]="!(initialState.accession)" aria-label="collect"
                                    name="collect" ngModel [(ngModel)]="initialState.toCollect" labelPosition="after">
                                    <mat-radio-button class="mx-2" [value]=true>Yes</mat-radio-button>
                                    <mat-radio-button claas="mx-2" [value]=false>No</mat-radio-button>
                                </mat-radio-group>
                                <mat-icon matSuffix>
                                    <div class="center">
                                        <label class="label">
                                            <input class="label__checkbox" [disabled]="!(initialState.accession)"
                                                type="checkbox" disabled [checked]="toShow" />
                                            <span class="label__text">
                                                <span *ngIf="isCorrect('toCollect'); else cross" class="label__check">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                        viewBox="0 0 24 24" width="24">
                                                        <path d="M0 0h24v24H0z" fill="none" />
                                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                                    </svg>
                                                </span>
                                                <ng-template #cross>
                                                    <span class="label__cross">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path
                                                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                                        </svg>
                                                    </span>
                                                </ng-template>
                                            </span>
                                        </label>
                                    </div>
                                </mat-icon>
                            </div>
                            <div class="col px-0">
                                <mat-form-field class="col pl-0">
                                    <input type="text" id="postalCode" [disabled]="!(initialState.accession)"
                                        name="postalCode" ngModel matInput placeholder="Postal Code"
                                        [(ngModel)]="initialState.postalCode" required text />
                                    <mat-error>Please enter Postal Code</mat-error>
                                    <mat-icon matSuffix>
                                        <div class="center">
                                            <label class="label">
                                                <input class="label__checkbox" [disabled]="!(initialState.accession)"
                                                    type="checkbox" disabled [checked]="toShow" />
                                                <span class="label__text">
                                                    <span *ngIf="isCorrect('postalCode'); else cross"
                                                        class="label__check textField">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path
                                                                d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                                        </svg>
                                                    </span>
                                                    <ng-template #cross>
                                                        <span class="label__cross textField">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                                viewBox="0 0 24 24" width="24">
                                                                <path d="M0 0h24v24H0z" fill="none" />
                                                                <path
                                                                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                                            </svg>
                                                        </span>
                                                    </ng-template>
                                                </span>
                                            </label>
                                        </div>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="d-flex">
                            <mat-form-field class="col pl-0">
                                <input type="text" name="physician" [disabled]="!(initialState.accession)" ngModel
                                    matInput placeholder="Ordering Physician" [(ngModel)]="initialState.physician"
                                    required text />
                                <mat-error>Please enter Ordering Physician</mat-error>
                                <mat-icon matSuffix>
                                    <div class="center">
                                        <label class="label">
                                            <input class="label__checkbox" [disabled]="!(initialState.accession)"
                                                type="checkbox" disabled [checked]="toShow" />
                                            <span class="label__text">
                                                <span *ngIf="isCorrect('physician'); else cross"
                                                    class="label__check textField">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                        viewBox="0 0 24 24" width="24">
                                                        <path d="M0 0h24v24H0z" fill="none" />
                                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                                    </svg>
                                                </span>
                                                <ng-template #cross>
                                                    <span class="label__cross textField">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path
                                                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                                        </svg>
                                                    </span>
                                                </ng-template>
                                            </span>
                                        </label>
                                    </div>
                                </mat-icon>
                            </mat-form-field>
                            <mat-form-field class="col pl-0">
                                <input type="text" name="physicianCode" [disabled]="!(initialState.accession)" ngModel
                                    matInput placeholder="Physician Code" [(ngModel)]="initialState.physicianCode"
                                    required text />
                                <mat-error>Physician Code</mat-error>
                                <mat-icon matSuffix>
                                    <div class="center">
                                        <label class="label">
                                            <input class="label__checkbox" type="checkbox" disabled
                                                [checked]="toShow" />
                                            <span class="label__text">
                                                <span *ngIf="isCorrect('physicianCode'); else cross"
                                                    class="label__check textField">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                        viewBox="0 0 24 24" width="24">
                                                        <path d="M0 0h24v24H0z" fill="none" />
                                                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                                    </svg>
                                                </span>
                                                <ng-template #cross>
                                                    <span class="label__cross textField">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path
                                                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                                        </svg>
                                                    </span>
                                                </ng-template>
                                            </span>
                                        </label>
                                    </div>
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="d-flex">
                            <div class="col pl-0">
                                <mat-form-field class="col pl-0">
                                    <mat-label>Collection Date</mat-label>
                                    <input matInput name="collectionDate" [disabled]="!(initialState.accession)"
                                        [(ngModel)]="initialState.collectionDate" [matDatepicker]="collectionDate">
                                    <mat-icon matSuffix>
                                        <div class="center">
                                            <label class="label">
                                                <input class="label__checkbox" type="checkbox" disabled
                                                    [checked]="toShow" />
                                                <span class="label__text">
                                                    <span *ngIf="isCorrect('collectionDate'); else cross"
                                                        class="label__check textField">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path
                                                                d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                                        </svg>
                                                    </span>
                                                    <ng-template #cross>
                                                        <span class="label__cross textField">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                                viewBox="0 0 24 24" width="24">
                                                                <path d="M0 0h24v24H0z" fill="none" />
                                                                <path
                                                                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                                            </svg>
                                                        </span>
                                                    </ng-template>
                                                </span>
                                            </label>
                                        </div>
                                    </mat-icon>
                                    <mat-datepicker-toggle matSuffix [for]="collectionDate"></mat-datepicker-toggle>
                                    <mat-datepicker #collectionDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col pl-0">
                                <mat-form-field class="col pl-0">
                                    <input type="number" [disabled]="!(initialState.accession)" name="collectionTime"
                                        ngModel matInput placeholder="Collection Time (hhmm)"
                                        [(ngModel)]="initialState.collectionTime" text />
                                    <mat-icon matSuffix>
                                        <div class="center">
                                            <label class="label">
                                                <input class="label__checkbox" type="checkbox" disabled
                                                    [checked]="toShow" />
                                                <span class="label__text">
                                                    <span *ngIf="isCorrect('collectionTime'); else cross"
                                                        class="label__check textField">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path
                                                                d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                                        </svg>
                                                    </span>
                                                    <ng-template #cross>
                                                        <span class="label__cross textField">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                                viewBox="0 0 24 24" width="24">
                                                                <path d="M0 0h24v24H0z" fill="none" />
                                                                <path
                                                                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                                            </svg>
                                                        </span>
                                                    </ng-template>
                                                </span>
                                            </label>
                                        </div>
                                    </mat-icon>
                                    <mat-error>Collection Time</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col pl-0">
                                <mat-form-field class="col pl-0">
                                    <input name="collectionLocation" [disabled]="!(initialState.accession)" ngModel
                                        matInput placeholder="Collection Location"
                                        [(ngModel)]="initialState.collectionLocation" text />
                                    <mat-icon matSuffix>
                                        <div class="center">
                                            <label class="label">
                                                <input class="label__checkbox" [disabled]="!(initialState.accession)"
                                                    type="checkbox" disabled [checked]="toShow" />
                                                <span class="label__text">
                                                    <span *ngIf="isCorrect('collectionLocation'); else cross"
                                                        class="label__check textField">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                            viewBox="0 0 24 24" width="24">
                                                            <path d="M0 0h24v24H0z" fill="none" />
                                                            <path
                                                                d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                                                        </svg>
                                                    </span>
                                                    <ng-template #cross>
                                                        <span class="label__cross textField">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="24"
                                                                viewBox="0 0 24 24" width="24">
                                                                <path d="M0 0h24v24H0z" fill="none" />
                                                                <path
                                                                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                                            </svg>
                                                        </span>
                                                    </ng-template>
                                                </span>
                                            </label>
                                        </div>
                                    </mat-icon>
                                    <mat-error>Collection Time</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex float-left w-100">
                                <div>
                                    <button class="mt-3" mat-raised-button color="primary" type="submit">Save to
                                        list</button>
                                </div>
                                <div class="pl-2">
                                    <button (click)="print()" class="mt-3" mat-raised-button color="primary"
                                        type="button">Print</button>
                                </div>
                                <div class="pl-2">
                                    <button [hidden]="!(mode && mode == 'practice')"
                                        [disabled]="!(initialState && initialState.accession)" (click)="compare()"
                                        class="mt-3" mat-raised-button color="primary" type="button">Review</button>
                                </div>
                                <div>
                                    <a class='donwload' target="_blank" download>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </form>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<div id="page" class="page">
    <mat-grid-list class='data' cols="2" *ngFor="let requisitionId of selectItem" rowHeight="160px">
        <mat-grid-tile colspan="1" rowspan="2" *ngIf="selectedPrintOptions.requisition">
            PHN: {{dataInputs[requisitionId] && dataInputs[requisitionId].phn}}<br />
            Accession: {{dataInputs[requisitionId] && dataInputs[requisitionId].accession}}<br />
            First Name: {{dataInputs[requisitionId] && dataInputs[requisitionId].lastName}}<br />
            Last Name: {{dataInputs[requisitionId] && dataInputs[requisitionId].firstName}}<br />
            Sex: {{dataInputs[requisitionId] && dataInputs[requisitionId].sex}}<br />
            Date Of Birth: {{dataInputs[requisitionId] &&dataInputs[requisitionId].dob}}<br />
            Postal Code: {{dataInputs[requisitionId] && dataInputs[requisitionId].postalCode}}<br />
            Physician: {{dataInputs[requisitionId] && dataInputs[requisitionId].physician}}<br />
            Physician Code: {{dataInputs[requisitionId] && dataInputs[requisitionId].physicianCode}}<br />
            Collection Date: {{dataInputs[requisitionId] && dataInputs[requisitionId].collectionDate}}<br />
            Collection Location: {{dataInputs[requisitionId] && dataInputs[requisitionId].collectionLocation}}<br />
            To Collect: {{dataInputs[requisitionId] &&dataInputs[requisitionId].toCollect}}<br />
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list class='data' cols="2" *ngFor="let requisitionId of selectItem" rowHeight="160px">
        <ng-container *ngIf="selectedPrintOptions.label">
            <mat-grid-tile colspan="1" rowspan="1"
                *ngFor="let label of labelsObject[dataInputs[requisitionId].accession]">
                Accession No: {{dataInputs[requisitionId] && dataInputs[requisitionId].accession}}<br />
                Name: {{label.name}}<br />
                PHN/personal health care: {{dataInputs[requisitionId] && dataInputs[requisitionId].phn}}<br />
                Collection Date: _________________<br />
                Collection Time: _________________<br />
                Fasting Time: _____________________<br />
            </mat-grid-tile>
        </ng-container>
        <ng-container>
            <mat-grid-tile *ngFor="let label of labelsObject[dataInputs[requisitionId].accession]" colspan="2"
                rowSpan="1" [ngClass]="{'d-none':!selectedPrintOptions.barcode}">
                <div class="mainContainer col pt-2">
                    <div class="barcode-container">
                        <div class="row barcode-row">
                            <div class="col-8 sec-left px-0">
                                <div class="barcode d-flex">
                                    <div class="col-1">
                                        <div class="phnTransform ">
                                            {{dataInputs[requisitionId] && dataInputs[requisitionId].phn}}
                                        </div>
                                    </div>
                                    <div class="col px-2">
                                        <div class="font-div_lg name">
                                            {{dataInputs[requisitionId].lastName && dataInputs[requisitionId].lastName}}
                                            {{dataInputs[requisitionId].firstName && dataInputs[requisitionId].firstName}}
                                        </div>
                                        <div class="font-div_lg phn_sex_date">
                                            {{dataInputs[requisitionId].phn}}
                                            {{dataInputs[requisitionId].sex}}
                                            {{dataInputs[requisitionId].dob}}
                                        </div>
                                        <div class="font-div_lg accession">
                                            {{dataInputs[requisitionId].collectionLocation}}</div>
                                        <div class="font-div_lg collection_date_time">
                                            {{dataInputs[requisitionId].collectionDate}}
                                            {{dataInputs[requisitionId].collectionTime}}</div>
                                        <div>
                                            <svg class="col-10 barcode-svg"
                                                id="x{{dataInputs[requisitionId].accession}}"></svg>
                                        </div>
                                        <div class="font-div_lg tests">
                                            <span
                                                *ngFor="let label of labelsObject[dataInputs[requisitionId].accession]">
                                                {{label.code}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 sec-right">
                                <div class="col-12 sec-2">
                                    <div class="font-div">{{dataInputs[requisitionId].phn}}</div>
                                    <div class="font-div">{{dataInputs[requisitionId].lastName}}
                                        {{dataInputs[requisitionId].firstName}}</div>
                                    <div class="font-div">{{dataInputs[requisitionId].sex}}</div>
                                </div>
                                <div class="col-12 sec-3">
                                    <div class="font-div">{{dataInputs[requisitionId].phn}}</div>
                                    <div class="font-div">{{dataInputs[requisitionId].lastName}}
                                        {{dataInputs[requisitionId].firstName}}</div>
                                    <div class="font-div">{{dataInputs[requisitionId].sex}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </ng-container>
    </mat-grid-list>
</div>