
.f16{
    font-size: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.phn{
  display: flex;
  /* transform: rotate(-90deg); */
}

.barcode-container{
  margin: 50px;
  width:335px;
  height: 140px;
  /* background-color: lightpink; */
}

.barcode-row{
  padding: 10px;
}

.barcode{
  width: 100%;
  height: 120px;
}

.sec-left{
  padding: 0px 10px 0px 10px ;
  outline: 1px dashed lightslategray;
  outline-offset: 0px;
  /* background-color: aqua; */
}

.sec-right{
  padding: unset;
}

.sec-2{
  height: 60px;
  font-family: vcr_osd_monoregular;
  font-size: 11px;
  outline: 1px dashed lightslategray;
  outline-offset: 0px;
  padding-left: 5px;
  /* background-color: green; */
}

@font-face {
  font-family: vcr_osd_monoregular;
  src: url(/assets/fonts/VCR_OSD_MONO.ttf);
}

.sec-3{
  font-family: vcr_osd_monoregular;
  height: 60px;
  font-size: 11px;
  outline: 1px dashed lightslategray;
  outline-offset: 0px;
  padding-left: 5px;
  /* background-color: yellow; */
}

.font-div{
  height: 12px
}

.font-div_lg{
  font-family: vcr_osd_monoregular;
  font-size: 16px;
  height: 12px;
}

.phn_sex_date{
  font-size: 12px;
}

.accession{
  font-size: 12px;
}

.name{
  font-size: 16px;
}

.collection_date_time{
  font-size: 10px;
}

.barcode-svg{
  position: absolute;
  left: 0;
  padding: unset;
}

.tests{
  font-family: vcr_osd_monoregular;
  font-size: 10px;
  height: 12px;
  margin-top: 40px;
}

body, html {
  font-family: 'Lato', monospace;
  font-size: ~'calc(1rem + 1vw)';
}

.label__checkbox {
  display: none;
}

.label__check {
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(0,0,0,0);
  background: white;
  vertical-align: middle;

  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .3s ease;
  
  i.icon {
    opacity: 0.2;
    font-size: ~'calc(1rem + 1vw)';
    color: transparent;
    transition: opacity .3s .1s ease;
    -webkit-text-stroke: 3px rgba(0,0,0,.5);
  }
  
  &:hover {
    border: 5px solid rgba(0,0,0,0.2);
  }
}

.label__check.textField {
    margin-right: 20px;
    margin-top: 20px;
  }

.label__cross {
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(0,0,0,0);
  background: white;
  vertical-align: middle;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .3s ease;
  
  i.icon {
    opacity: 0.2;
    font-size: ~'calc(1rem + 1vw)';
    color: transparent;
    transition: opacity .3s .1s ease;
    -webkit-text-stroke: 3px rgba(0,0,0,.5);
  }
  
  .label__cross.textField {
    margin-right: 20px;
    margin-top: 20px;
  }

  &:hover {
    border: 5px solid rgba(0,0,0,0.2);
  }
}

svg {
  fill: white;
  padding: 3px;
}

.label__checkbox:checked + .label__text .label__check {
  animation: check .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
  
  .icon {
    opacity: 1;
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
  }
}

.label__checkbox:checked + .label__text .label__cross {
  animation: cross .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
  
  .icon {
    opacity: 1;
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
  }
}

.center {
  position: absolute;
  font-size: 50%;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes check {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }
  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: rgba(0,0,0,0.2);
    border-width: 15px;
  }
  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: rgba(0,0,0,0.1);
    border-width: 0;
  }
  50% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 1;
  }
}

@keyframes cross {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }
  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: rgba(0,0,0,0.2);
    border-width: 15px;
  }
  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: rgba(0,0,0,0.1);
    border-width: 0;
  }
  50% {
    width: 2em;
    height: 2em;
    background: #d44950;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 2em;
    height: 2em;
    background: #d44950;
    border: 0;
    opacity: 1;
  }
}

.practiceRequisitionList.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 30px;
}

.practiceRequisitionListItem {

  font-weight: 500;
}

:host >>> .mat-figure{
  align-items: flex-start !important;
}


.mat-card { 
  height: auto;
  margin: 5vh 0px !important;
}

.mat-grid-list {
  background-color: #e7e7e7;
}

.practiceList {
  margin-left: 100px !important;
  height: 612px !important;
}

.formCard {
  margin-right: 100px !important;
  margin-left: 20px !important;
}

.options {
  font-size: 18px;
  font-weight: 500;
  margin: 5px;
}
:host /deep/ .mat-list-item-content {
  padding: 0!important;
}

.requisition {
  display: flex;
  /* width: 60%; */
  flex-direction: column;
    /* position: absolute; */
}

.page {
  float: left;
  width:595px;
  /* height:842px; */
}

.list{
  display: flex;
  flex-direction: column;
  width: 40%;
  float: left;
}

:host /deep/ .data .mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
}

.button {
  margin: 10px;
}

.optionsList {
  display: flex;
  flex-direction: row;
}

.options {
  font-size: 18px;
  font-weight: 500;
  margin: 5px;
}

mat-spinner {
  margin: auto;
  width: 36px !important;
  height: 36px !important;
}

:host /deep/ .mat-progress-spinner svg {
  width: 36px !important;
  height: 36px !important;
}

:host /deep/ .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white !important
}