<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input type="text" name="username" ngModel matInput placeholder="NAIT Username" #usernameInput="ngModel"
                required text>
            <mat-error *ngIf="usernameInput.invalid">Please enter a valid NAIT Username.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel"
                required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <div style="text-align: center">
            <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
        </div>
    </form>
</mat-card>