<mat-toolbar class="text-center">
    <span class="text-center w-100">{{this.updateUser?"Modify User":"New User"}}</span>
    <button mat-icon-button (click)="onClose()">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<mat-card>
    <form #userForm="ngForm" (submit)="onSubmit(userForm)">
        <div class="text-center d-flex">
            <mat-form-field class="col">
                <input type="text" name="username" [(ngModel)]="User.username" matInput placeholder="NAIT Username"
                    #usernameInput="ngModel" required text>
                <mat-error *ngIf="usernameInput.invalid">Please enter a valid NAIT Username.</mat-error>
            </mat-form-field>
            <mat-form-field class="col">
                <input type="email" name="email" [(ngModel)]="User.email" matInput placeholder="Email"
                    #emailInput="ngModel" required email>
                <mat-error *ngIf="usernameInput.invalid">Please enter a valid Email Address.</mat-error>
            </mat-form-field>
        </div>
        <div class="text-center d-flex">
            <mat-form-field class="col">
                <input type="password" name="password" [(ngModel)]="User.password" matInput placeholder="Password"
                    #passwordInput="ngModel" required>
                <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
            </mat-form-field>
            <mat-form-field class="col">
                <input type="text" name="name" [(ngModel)]="User.name" matInput placeholder="Real Name"
                    #nameInput="ngModel" required>
                <mat-error *ngIf="nameInput.invalid">Please enter a Your Real Name.</mat-error>
            </mat-form-field>
        </div>
        <div class="text-center d-flex">
            <mat-radio-group required class="col my-auto" aria-label="acitve" name="active" [(ngModel)]="User.active"
                labelPosition="before">
                <mat-radio-button [value]=true>Active</mat-radio-button>
                <mat-radio-button [value]=false>Inactive</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="col">
                <mat-label>Select Role</mat-label>
                <mat-select required [(ngModel)]="User.role" #group="ngModel" name="role">
                    <mat-option *ngFor="let list of dropdownList" value="{{list._id}}">{{list.role}}</mat-option>
                </mat-select>
                <mat-error *ngIf="nameInput.invalid">Please Select Role.</mat-error>
            </mat-form-field>
        </div>

        <div class="text-center">
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
    </form>
</mat-card>